@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #023b86;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}


/* Fix popover/z-index issues inside Dialog */
[data-radix-popper-content-wrapper] {
  z-index: 9999 !important;
}

/* Or more specific */
.PopoverContent {
  z-index: 9999 !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  /* Added professional styling utilities */
  .text-balance {
    text-wrap: balance;
  }

  .container {
    @apply mx-auto !max-w-[90rem] w-full px-4 sm:px-6 lg:px-8;
  }


}


.htmlContent{
  @apply prose prose-sm max-w-none prose-headings:!text-base
                prose-p:leading-relaxed 
                prose-p:m-0
                prose-headings:m-0
                prose-ul:pl-5 
                prose-ol:pl-5
                prose-li:mb-1
                prose-table:text-sm
                prose-th:px-2 prose-td:px-2
                prose-th:py-1 prose-td:py-1
                mb-6
                prose-table:w-full
                prose-li:marker:!text-primary
                /* prose-ul:list-inside prose-ol:list-inside */
              
}



 /* .htmlContent div:has(li)  {
  padding-left: calc(var(--spacing) * 5) !important;
} */

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

select {
 background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
}

table{
  display: block;
  /* border: 1px solid var(--border) ; */
    border-collapse: collapse;
  white-space: nowrap ;
  overflow-x: auto;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  scroll-behavior: smooth !important;
  scrollbar-color: transparent !important;

}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* html content customizations */
.htmlContent > table, td, tr, th, tbody, thead, tfoot, h2, h1, h3, h4, h5, h6, p, li {
    font-family: '__Poppins_e36b36', '__Poppins_Fallback_e36b36' !important;
    font-style: normal;
    scrollbar-width: none !important;
   -ms-overflow-style: none !important;
    scroll-behavior: smooth !important;
    scrollbar-color: transparent !important;

}

.htmlContent table, thead, tbody, tfoot, tr {
  @apply  !w-full max-w-full overflow-x-auto;

}

.htmlContent div:has(> table:first-child), div:has(table) {
  @apply  !w-full overflow-x-auto;
}


/* .htmlContent td {
  @apply w-full max-w-full;
} */


.htmlContent div:where(.prose) {
  /* your styles here */
  max-width: none !important;

}

/* .htmlContent ul, ul>li{
   list-style: disc !important;
   padding: 0 !important;
} */

.htmlContent  ul>li ::marker{
  color: var(--primary) !important;
}


.upload-box {
  @apply border-2 border-dashed border-border bg-gradient-to-br from-white/10 to-white/5 
         rounded-lg shadow-lg hover:shadow-xl  transition-all duration-300 
         flex flex-col items-center justify-center cursor-pointer;
}

.upload-box:hover .upload-icon {
  @apply  opacity-90;
}

.thumbnail {
  @apply w-24 h-24 rounded-lg border-2 bg-white overflow-hidden 
         transition-all duration-200;
}

.control-button {
  @apply px-4 py-2 rounded-lg border border-black bg-white text-black 
         hover:border-primary hover:bg-primary/90 hover:text-white 
         transition-all duration-200 text-sm font-semibold;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-out;
}


/* google translate */

.goog-te-gadget-simple{
  display: flex !important;
  width: fit-content !important;
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed{
  display: flex !important;
  width: fit-content !important;
}

.goog-te-gadget {
    font-size: 0 !important;           /* hide extra text/logo */
  }
  /* Hide all but the last instance */
  #google_translate_element + .skiptranslate.goog-te-gadget {
    display: none !important;
  }
  /* or even more aggressive */
  .goog-te-gadget-simple {
    margin: 0 !important;
  }